<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="Login" value="a.shunevich"/>
    <add key="Password" value="masterkey"/>
    <add key="AuthorizationUri" value="http://innometrics.guru:8000/api-token-auth/"/>
    <add key="SendDataUri" value="http://innometrics.guru:8000/activities/"/>
  </appSettings>
</configuration>