<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <connectionStrings>
    <!--In order to set connection string replace *Machine Name* and *MSSQLServer instance name*
      with the corresponding values for installed MSSQL Server-->
    <!--<add name="DefaultConnection" 
      connectionString="Data Source=*Machine Name*\*MSSQLServer instance name*;Initial Catalog=WindowsMetrics;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=WindowsMetrics;Integrated Security=True" />
  </connectionStrings>

  <appSettings>
    <add key="AuthorizationUri" value="https://aqueous-escarpment-80312.herokuapp.com/api-token-auth/"/>
    <add key="SendDataUri" value="https://aqueous-escarpment-80312.herokuapp.com/activities/"/>
    <add key="UpdateXmlUri" value="https://www.dropbox.com/s/y4lvuhc7l2iva69/metricsUpdate.xml?dl=1"/>
    <add key="Assemblies" value="CommonModels.dll;MetricsProcessing.dll;Transmission.dll;Update.dll;WindowsMetrics.dll;MetricsCollectorApplication.exe"/>
  </appSettings>
</configuration>