<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <connectionStrings>
    <!--In order to set connection string replace *Machine Name* and *MSSQLServer instance name*
      with the corresponding values for installed MSSQL Server-->
    <!--<add name="DefaultConnection" 
      connectionString="Data Source=*Machine Name*\*MSSQLServer instance name*;Initial Catalog=WindowsMetrics;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->
    <add name="DefaultConnection" connectionString="Data Source=DESKTOP-7CAUMID\SQLEXPRESS;Initial Catalog=WindowsMetrics;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="ProcessRegistriesAtOneTime" value="20"/>
    <add key="AuthorizationUri" value="https://aqueous-escarpment-80312.herokuapp.com/api-token-auth/"/>
    <add key="SendDataUri" value="https://aqueous-escarpment-80312.herokuapp.com/activities/"/>
  </appSettings>
</configuration>