<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <connectionStrings>
      <!--In order to set connection string replace *Machine Name* and *MSSQLServer instance name*
      with the corresponding values for installed MSSQL Server-->
      <!--<add name="DefaultConnection" 
      connectionString="Data Source=*Machine Name*\*MSSQLServer instance name*;Initial Catalog=WindowsMetrics;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=WindowsMetrics;Integrated Security=True" />
  </connectionStrings>

  <appSettings>
    <add key="DataSavingIntervalSec" value="20"/>
    <add key="StateScanIntervalSec" value="5"/>
  </appSettings>
</configuration>